.Form {
  display: flex;
  justify-content: center;
  text-align: center;
  height: auto;
  line-height: 2;
}

.Submit {
  border: none;
  background-color: rgb(104, 104, 233);
  font-size: 20px;
  margin: 20px;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
}
